<section class='container-lg pt-4 mt-0 align-items-center'>
  <div class='row g-5 justify-content-center pt-0 mt-0 d-flex align-items-stretch anim-text-row'>

    <div class='col-md-5 text-center background-card pt-0 mt-0'>
      <div class='row pt-0 mt-0'>
        <div class='col-12'>
          <h2 class='login-signup-title'>LOGIN</h2>
        </div>
        <div class='col-12 login-signup-subtitle px-4 pb-0 mb-0'>
          <p><span class='pb-0 mb-0'>
            {{> turn-arrow-icon }}
            </span>to create your own posts and join the discourse</p>
        </div>
        <div class='col-12 px-0'>
          <form class='form login-form px-4'>
              <div class='text-start'>
                <label for='email-login' class='form-label'>E-mail:</label>
              </div>

              <div class='input-group login-signup-input'>
                <span class='input-group-text'>
                  {{> envelope-icon }}
                </span>
                <input class='form-control form-control-lg mb-0 pb-0' type='email' id='email-login' placeholder='e.g. techsavvy@gmail.com'/>
              </div>
              
              <div class='text-start'>
                <label for='password-login' class='form-label'>Password:</label>
              </div>

              <div class='mb-4 input-group login-signup-input'>
                <span class="input-group-text">
                  {{> password-icon }}
                </span>
                <input class='form-control form-control-lg' type='password' id='password-login'/>
              </div>
              
              <button class='btn btn-md login-signup-btn' type='submit'>LOGIN</button>
              <p class='login-signup-text'>Not a member yet?<a href='/signup' class='login-signup-switch'>Sign up instead</a></p>
          </form>
        </div>
      </div>
    </div>

    <div class='col-md-6 text-center pt-0 mt-0 d-none d-lg-flex anim-div'>
      <div id='animation-wrapper' class='align-items-start pt-0 mt-0'>
        <div id='animation-container' class='pt-0 mt-0'></div>
      </div>
    </div>

  </div>
</section>

{{!-- The important things we have in this layout for the login page are:

  the input element for the user to enter their email to attempt to login. It has an id of email-login.
  
  the input element for the user to enter their password to attempt to log in. It has an id of password-login.
  
  the button element which the user clicks to login --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.9/lottie.min.js"></script>
<script src='/js/login.js'></script>
