<div class='pt-4'>
    <div class='form-background'>
        <h2 class='text-center new-blog-title'>Create a New Blog Post</h2>

        <form class='new-blog-form'>
            <div>
                <label for='blog-post-title' class='form-label my-2 new-blog-label'>Title</label>
                <input type='text' class='form-control' id='blog-post-title' aria-describedby='blog-post-title'>
            </div>
            <div class='mb-3'>
                <label for='blog-post-content' class='form-label new-blog-label my-2'>Content</label>
                <textarea class='form-control' id='blog-post-content' rows='10'></textarea>
            </div>
            <button type='submit' class='btn new-post-btn p-2'>Create Post</button>
        </form>
    </div>

</div>

<script src='/js/new-blog.js'></script>