<h2>Create a New Blog Post</h2>

<form class="new-blog-form">
    <div>
        <label for="blog-post-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="blog-post-title" aria-describedby="blog-post-title">
    </div>
    <div class="mb-3">
        <label for="blog-post-content" class="form-label">Content</label>
        <textarea class="form-control" id="blog-post-content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>

<script src="/js/new-blog.js"></script>