<h2 id='search-bar-heading'>Search for Blog Posts</h2>

<input type='text' id='search-input' aria-describedby='search-bar-heading'>

<div id='search-results'></div>

<script src='/js/search.js'></script>